{% extends "layout.html" %}
{% block content %}

    <section class="hero-wrap js-fullheight">
	 <div class="container">
		<div class="row description js-fullheight align-items-center justify-content-center">
		  <div class="col-md-8 text-center">
			<div class="text">
			  <h1>Dataset</h1>
			  <h4 class="mb-5">Two datasets used for matching.</h4>
			</div>
		  </div>
		</div>
	 </div>
	</section>

	<section class="ftco-section bg-light">
      {% if left_data %}
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading-title">
            <h1 class="text-center">Left Dataset</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Total Products: {{ left_data.df.shape[0] }}</h5>
          </div>
        </div>
        <div class="table-responsive tableFixHead">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                {% for feature in left_data.df.columns: %}
                  <th scope="col">
                    {{ feature }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for entity in left_data.df[left_data.df.columns.values].iterrows(): %}
                <tr scope="row">
                  {% for feature in left_data.df.columns: %}
                    <td>
                      {{ dict(entity[1])[feature] }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      {% if right_data %}
      <div class="container" style="margin-top: 50px">
        <div class="row">
          <div class="col-md-12 heading-title">
            <h1 class="text-center">Right Dataset</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Total Products: {{ right_data.df.shape[0] }}</h5>
          </div>
        </div>
        <div class="table-responsive tableFixHead">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                {% for feature in right_data.df.columns: %}
                  <th scope="col">
                    {{ feature }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for entity in right_data.df[right_data.df.columns.values].iterrows(): %}
                <tr scope="row">
                  {% for feature in right_data.df.columns: %}
                    <td>
                      {{ dict(entity[1])[feature] }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </section>

{% endblock %}
