{% extends "layout.html" %}
{% block content %}

	<section class="hero-wrap js-fullheight">
	 <div class="container">
		<div class="row description js-fullheight align-items-center justify-content-center">
		  <div class="col-md-8 text-center">
			<div class="text">
			  <h1>Product Matching</h1>
			  <h4 class="mb-5">Welcome!</h4>
			  <a href="/match" class="btn btn-white px-4 py-3"><i class=" ion ion-ios-play-circle mr-2"></i>Start</a>
			</div>
		  </div>
		</div>
	 </div>
	</section>

{% endblock %}
