{% extends "layout.html" %}
{% block content %}
    <section class="hero-wrap js-fullheight">
     <div class="container">
        <div class="row description js-fullheight align-items-center justify-content-center">
          <div class="col-md-6 text-center">
            <div class="card card-login py-4">
              <form id="form1" class="form-login" method="post" action="/match">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Set Params</h4>
                </div>
                <!-- <p class="description text-center">Or Be Classical</p> -->
                <div class="card-body p-4">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ion-ios-contact"></i>
                      </span>
                    </div>
                    <input type="number" step="0.1" min="0" max="1" class="form-control" name="max_df" placeholder="max_df...">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ion-ios-paper-plane"></i>
                      </span>
                    </div>
                    <input type="number" step="0.01" class="form-control" name="min_df" placeholder="min_df...">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ion-ios-lock"></i>
                      </span>
                    </div>
                    <input type="number" class="form-control" name="min_ngram" placeholder="min_ngram...">
                  </div>
				  <div class="input-group mb-3">
				    <div class="input-group-prepend">
					  <span class="input-group-text">
					    <i class="ion-ios-paper-plane"></i>
					  </span>
				    </div>
				    <input type="number" class="form-control" name="max_ngram" placeholder="max_ngram...">
				  </div>
				  <div class="input-group mb-3">
				    <div class="input-group-prepend">
					  <span class="input-group-text">
					    <i class="ion-ios-paper-plane"></i>
					  </span>
				    </div>
				    <input type="number" step="0.01" class="form-control" name="threshold" placeholder="threshold...">
				  </div>
                </div>
                <div class="footer text-center">
                  <button type="submit" class="btn btn-primary">Get Started</button>
                </div>
              </form>
            </div>
          </div>
        </div>
     </div>

    {% if matcher %}
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading-title">
            <h1 class="text-center">Matching Result</h1>
          </div>
        </div>
        <div class="table-responsive tableFixHead">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                {% for feature in matcher.results.df.columns: %}
                  <th scope="col">
                    {{ feature }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in matcher.results.df[matcher.results.df.columns.values].iterrows(): %}
                <tr scope="row">
                  {% for feature in matcher.results.df.columns: %}
                    <td>
                      {{ dict(record[1])[feature] }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {% endif %}



{% endblock %}
