{% extends "layout.html" %}
{% block content %}
    <section class="hero-wrap js-fullheight">
	 <div class="container">
		<div class="row description js-fullheight align-items-center justify-content-center">
		  <div class="col-md-8 text-center">
			<div class="text">
			  <h1>Matching Result</h1>
			  <h4 class="mb-5">Merge two datasets with cluster IDs.</h4>
			</div>
		  </div>
		</div>
	 </div>
	</section>

    {% if matcher %}
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading-title">
            <h1 class="text-center">Matching Result</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center">Total Products: {{ matcher.get_count_records() }} &nbsp; Total Clusters: {{ matcher.results.df['cluster'].unique().shape[0] }}</h5>
          </div>
        </div>
        <div class="table-responsive tableFixHead">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                {% for feature in matcher.results.df.columns: %}
                  <th scope="col">
                    {{ feature }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in matcher.results.df[matcher.results.df.columns.values].iterrows(): %}
                <tr scope="row">
                  {% for feature in matcher.results.df.columns: %}
                    <td>
                      {{ dict(record[1])[feature] }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    {% endif %}

{% endblock %}
